
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a  routerLink="/home/main" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a></li>
        <li class="breadcrumb-item"><a  routerLink="/home/game" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Game</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            <a  routerLink="/home/friends" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Friends</a>
        </li>
        <li class="breadcrumb-item"><a (click)="logout()">Logout</a></li>
        </ol>
    </nav>
    </div>
</nav>
<router-outlet></router-outlet>
  
 
