
<div class="section">
    <div class="container">
      <div class="content">
        <h1 class="title is-4 pb-2 ">Ready to sink some battleships?</h1>
        <h6 class="subtitle is-6 mb-5 "><strong>Battleship</strong></h6>
        <hr>

        <!-- shows when a player has won the game -->
        <section *ngIf="winner" class="notification is-success has-text-centered" style="color:white">
          <h1>Player {{ winner.player.name }} has won the game!</h1>
          <h5>Click <a (click)="this.ngOnDestroy();this.ngOnInit();">here</a> to start a new game.</h5>
          <h5>Click <a (click)="quitGame()">here</a> to get back to menu.</h5>
        </section>
        <!-- shows while waiting for 2nd user to join -->
        <div *ngIf="players < 2">
          <p>Waiting for 2nd user to join...</p>
        </div>

        <!-- loops through the boards array and displays the player and board tiles -->
        <div class="columns" *ngIf="validPlayer && ready">
          <div class="column has-text-centered" *ngFor="let board of getKeys(); let i = index">
            <h5>
              PLAYER {{ boards[board].player.name }} <span class="tag is-info" *ngIf="board == HomeComponent.username">You</span>
              <strong>SCORE: {{ boards[board].player.score }}</strong>
            </h5>
            <table class="is-bordered" [style.opacity] = "board == HomeComponent.username ? 0.5 : 1">
              <tr *ngFor="let row of boards[board].tiles; let j = index">

              <td width="200" *ngFor="let col of row; let k = index"
                (click) = "fireTorpedo($event)"
                [style.background-color] = "col.used ? '' : 'transparent'"
                [class.win] = "col.status == 'win'" [class.fail] = "col.status == 'fail'"
                class="battleship-tile" id="{{board}};{{j}};{{k}}">
                {{ (col.used==true || board==HomeComponent.username) ? (col.value == "X"  ) ? "⬛" : "":" "}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="columns" *ngIf="validPlayer && !ready && !manual">
        <div class="column has-text-centered" *ngFor="let board of getKeys(); let i = index">
          <h5>
            Make a choice:
          </h5>
          <div class="column">
            <div class="block"><button class="button" (click)="sendBoard()">Send a random Board</button></div>

          </div>
          <div class="column">
            <div class="block"><button class="button" (click)="isManual()">Create your board</button></div>
          </div>
      </div>
    </div>

        <div class="columns" *ngIf="validPlayer && !ready && manual">
          <div class="column has-text-centered">
            <h5>
              PLAYER {{ boards[HomeComponent.username].player.name }}
            </h5>
            <table class="table is-bordered" >
              <tr *ngFor="let row of boards[HomeComponent.username].tiles; let j = index">

              <td width="200" *ngFor="let col of row; let k = index" (mouseenter)=" col.canPut && mouseenter(j,k,boards[HomeComponent.username].ships[boards[HomeComponent.username].ships.length-1]) " (mouseleave)="col.canPut && mouseleave(j,k,boards[HomeComponent.username].ships[boards[HomeComponent.username].ships.length-1]) "
                (click) = "putShip($event,boards[HomeComponent.username].ships[boards[HomeComponent.username].ships.length-1])"
                [class.canPut] = "col.canPut == true" [class.fail] = "col.canPut==false"
                class="battleship-tile" id="{{j}};{{k}}">
                {{(col.value == "X"  ) ? "X" :" "}}
              </td>
            </tr>
          </table>
        </div>

        <div class="column has-text-centered">
          <h5>
            Ship to put in:
          </h5>
          Your ship:
          <div class="block" *ngIf="vertically" >
          <div  *ngFor="let x of counter(boards[HomeComponent.username].ships[boards[HomeComponent.username].ships.length-1]);">
            X
          </div>
          </div>
          <div class="block" *ngIf="!vertically" >
            <div style="display:inline-block;" *ngFor="let x of counter(boards[HomeComponent.username].ships[boards[HomeComponent.username].ships.length-1]);">
              X
            </div>
            </div>
          <div class="block">
            <button class="button" (click)="rotate()" >Rotate</button>
          </div>
          <div *ngIf="!canContinue() && boards[HomeComponent.username].ships.length>0" class="block">
            <button (click)="this.getBoardService().createBoardManually(10,HomeComponent.username)">Restart</button>
          </div>
      </div>
        </div>



      <div class="has-text-centered">
        <div class="block" *ngIf="!ready && players==2 && boards[HomeComponent.username].ships.length==0"><button class="button" (click)="sendMyBoard()">Send my board</button></div>
        <span class="tag is-warning" *ngIf="canPlay && players==2 && ready">Your turn!</span>
        <span class="tag is-danger" *ngIf="!canPlay && players==2 && ready">Other player's turn.</span>
        <h5 class="title"><small>{{ players }} player(s) in game</small></h5>
      </div>
      <div>
        <button class="btn btn-primary mb-3 has-text-weight-bold" (click)="quitGame()">Quit game</button>
      </div>
      <section class="hero is-small">
      <div *ngIf="players==2 && ready && started">
        <div class="block" style="height: 300px;">
          <!-- The magical tile element! -->
          <div style="overflow:scroll;height: 300px;"  class="block" #chatMatch>
            <div class="block" *ngFor="let x of messages">{{x.from}} : {{x.message}}</div>
          </div>
          <br>
          <div class="block">
            <form [formGroup]="msgForm" (ngSubmit)="sendMessage()">
              <input name="msg"  class="input w-75"  type="text" formControlName="msg" placeholder="Text input">
              <button type="submit" class="btn btn-default has-background-primary has-text-weight-bold text-white w-25 ">Send</button> 
          </form>
          </div>
        </div>
      </div>
      </section>
