
<h1>Online Players</h1>
    <div *ngFor="let x of usersNotFriends">
    
        <a (click)="sendFriendsRequest(x)"> {{x}}</a> 
    
    </div>
    <h1>Friends list</h1>
    <div  class="block" *ngFor="let x of FriendsComponent.friends">
    
    {{x}}   <button (click)="deleteFriend(x)" class="delete"></button>

    </div>
    <div>
    <h1>Online friends</h1>
    <div *ngFor="let x of friendsOnline">
    
        <a (click)="sendMatchRequest(x)"> {{x}}</a> 
    
    </div>
    </div>
    
    <section class="section">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column">
                    <h1 class="title">Statistic of players</h1>
                    <div class="block">
                        <div class="select is-rounded">
                            <select ngModel (ngModelChange)="friendsStats($event)">
                                <option>-</option>
                            <option *ngFor="let x of friendsInfo" [ngValue]="x.username" >{{x.username}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="friendStats" class="block">
                        <div class="block">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-face-smile"></i>
                                </span>
                                <span><h2 class="subtitle">Username: {{friendStats.username}}</h2></span>
                            </span>
                        </div>
                        <div class="block">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-flag-checkered"></i>
                                </span>
                                <span><h2 class="subtitle">Total matches: {{friendStats.matches}}</h2></span>
                            </span>
                        </div>
                        <div class="block">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-trophy"></i>
                                </span>
                                <span><h2 class="subtitle">Wins: {{friendStats.wins}}</h2></span>
                            </span>
                        </div>
                        <div class="block">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </span>
                                <span><h2 class="subtitle">Looses: {{friendStats.looses}}</h2></span>
                            </span>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>

            </div>
        </div>

    </section>

    
