<div class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="box">
                        <div class="field">
                            <label for="username" class="label">Username</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input" name="username" placeholder="Username" formControlName="username" ngModel required>
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" class="input" name="password" placeholder="Password" formControlName="password" ngModel required>
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faKey"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field columns">
                            <div class="column is-half">
                                <input type="submit" 
                                       class="button is-success is-fullwidth" 
                                       value="Login"/>
                            </div>
                            <div class="column is-half">
                                <input routerLink="/register" 
                                       type="submit" 
                                       class="button is-success is-fullwidth" 
                                       value="Not a member?"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
