
  <div *ngFor="let x of matches; let i=index">
  
      <a (click)="watchMatch(x.id)"> {{x.id}}</a> 
  </div>

<div *ngIf="HomeComponent.gameAsVisitor==true" class="section">
    <div class="container">
      <div class="content">
        <h1 class="title">Ready to sink some battleships?</h1>
        <h6 class="subtitle is-6"><strong>Battleship</strong></h6>
        <hr>
  
        <!-- shows when a player has won the game -->
        <section *ngIf="winner" class="notification is-success has-text-centered" style="color:white">
          <h1>Player {{ winner.player.name }} has won the game!</h1>
          <h5>Click <a (click)="exitGame()">here</a> get back to menu.</h5>
        </section>
        <!-- shows while waiting for 2nd user to join -->
        <div *ngIf="players < 2">
          <h2>Waiting for 2nd user to join...</h2>
        </div>
  
        <!-- loops through the boards array and displays the player and board tiles -->
        <div class="columns" *ngIf="validPlayer">
          <div class="column has-text-centered" *ngFor="let board of getKeys(); let i = index">
            <h5>
              PLAYER {{ boards[board].player.name }} <span class="tag is-info" *ngIf="board == HomeComponent.username">You</span>
              <strong>SCORE: {{ boards[board].player.score }}</strong>
            </h5>
            <table class="is-bordered" [style.opacity] = "board == HomeComponent.username ? 0.5 : 1">
              <tr *ngFor="let row of boards[board].tiles; let j = index">
        
              <td *ngFor="let col of row; let k = index"
                (click) = "fireTorpedo($event)"
                [style.background-color] = "col.used ? '' : 'transparent'"
                [class.win] = "col.status == 'win'" [class.fail] = "col.status == 'fail'"
                class="battleship-tile" id="{{board}};{{j}};{{k}}">
                {{ col.value == "X" ? "X" : "💀"}}
              </td>
            </tr>
          </table>
          <span class="tag is-warning" *ngIf="players==2 && boards[board].player.name==this.whoPlay">{{this.whoPlay}} turn!</span>
        </div>
        <div class="column has-text-centered">
            <div class="block"  style="overflow:scroll; height: max-content;" #chat>
              <div class="block" *ngFor="let x of messagesMatch">{{x.from}}: {{x.message}}</div>

              </div>
        </div>
      </div>
  
      <div class="has-text-centered">
        <h5 class="title"><small>{{ players }} player(s) in game</small></h5>
        <div *ngIf="players==2">
          <button class="button" (click)="exitGame()">Exit game</button>
        </div>
      </div>
      <div class="block" style="height: 300px;">
        <!-- The magical tile element! -->
        <div  class="block" style="overflow:scroll; height: 300px;" #chatBroadcast>
          <div class="block" *ngFor="let x of messages">{{x.from}} : {{x.message}}</div>
        </div>
        <br>
        <div class="block">
          <form [formGroup]="msgForm" (ngSubmit)="sendMessage()">
        <input name="msg" class="input" type="text" formControlName="msg" placeholder="Text input">
        <button type="submit" class="btn btn-default pull-right">Send</button> 
        </form>
        </div>                   
      </div>
    </div>
  </div>
  </div>