<section class="section ">
    <div class="container ">
        <div class="columns is-centered ">
            <div class="column card is-half mx-3 px-4 py-4 ">
                <h1 class="title is-4 pb-2 ">Chat with your Friends</h1>
                <div class="select is-rounded is-fullwidth mb-5">
                    <select ngModel (ngModelChange)="chat($event)">
                        <option>-</option>
                    <option *ngFor="let x of FriendsComponent.friends" [ngValue]="x.username" >{{x.username}}</option>
                    </select>
                </div>
                <div class="block" style="overflow:scroll; width: auto; height: 300px; " #chatWithFriends>
                    <div  class="block" *ngFor="let x of messages">
                        <strong>{{x.from}}</strong>: <em>{{x.message}}</em><small>&nbsp;[{{ x.timestamp}}]</small>
                    </div>
                </div>
                <div class="block">
                    <form [formGroup]="msgForm" (ngSubmit)="sendMessage()">
                        <input name="msg" class="input w-75" type="text" formControlName="msg" placeholder="Text input">
                        <button type="submit" class="btn btn-default has-background-primary has-text-weight-bold text-white w-25 ">Send</button> 
                    </form>
                </div> 
            </div>
            <div class="column card is-half mx-3 px-4 py-4 ">
                <h1 class="title is-4 pb-2 ">Chat with moderators</h1>
                <div class="select is-rounded is-fullwidth mb-5">
                    <select ngModel (ngModelChange)="chat($event)">
                        <option [ngValue]="'--'">-</option>
                        <option *ngFor="let x of moderators" [ngValue]="x.username" >{{x.username}}</option>
                    </select>
                </div>
                <div class="block" style="overflow:scroll; width: auto; height: 300px; " #chatWithModerators>
                    <div  class="block" *ngFor="let x of messagesModerator">
                        <strong>{{x.from}}</strong>: <em>{{x.message}}</em><small>&nbsp;[{{ x.timestamp}}]</small>
                    </div>
                </div>
                <div class="block">
                    <form [formGroup]="msgFormModerator" (ngSubmit)="sendMessageModerator()">
                        <input name="msg"  class="input w-75"  type="text" formControlName="msg" placeholder="Text input">
                        <button type="submit" class="btn btn-default has-background-primary has-text-weight-bold text-white w-25 ">Send</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>